.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header-logo{
    margin-left: 98px;
    margin-top: 63px;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 0;
}
.logo-color{
    color:#4BCAFF;
}
.header-menu{
    margin-top: 40px;
    display: flex;
    justify-content:center;
    background-color: #35444F;
}
.menu-item{
    margin: 0;
    padding: 26px 32px 19px 40px;
    list-style: none;
    font-size: 24px;
    line-height: 28px;
    color:#fff;
    border-right: 1px solid #fff;
}
.menu-item:hover{
    background-color:#222F3A;
}
.menu-item:first-child{
    border-left:1px solid #fff;
}
.main{
margin-top: 40px;
}
.aside-bar{
    padding: 0;
    width: 344px;
    border: 1px solid #000;
}
.aside-item{
    list-style-type:none;
    font-size: 27px;
    line-height: 27px;
    color:#485863;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 25px;
}
.aside-item:hover{
    background-color:#DBDBDB;
    padding-left: 54px;
}
.main-content{
    width: 885px;
   
}
.main-info{
    display: flex;
    justify-content: space-between;
}
.logo-area{
    border:1px solid #000;
}
.main-logo{
    margin: 75px auto;
    transition: transform 1s;
}
.main-logo:hover{
    transform: scale(1.15);
}
.main-text{
    font-size: 18px;
    line-height:24px ;
    margin-top: 37px;
}
.foot-bar{
    background-color:rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu{
    display: flex;
}
.footer-item{
    list-style: none;
    font-size: 28px;
    line-height: 28px;
    margin: 0;;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-item:hover{
    color:
    #3181A6;
    border-bottom: 1px solid 
    #3181A6;
}
.foot-text{
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;

}
footer{
    padding-bottom: 20px;
}